@keyframes ldio-ngexsta8e2j {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(22.5deg)
    }
    100% {
        transform: rotate(45deg)
    }
}

.ldio-ngexsta8e2j > div {
    transform-origin: 78.5px 78.5px;
    animation: ldio-ngexsta8e2j 0.40322580645161293s infinite linear;
}

.ldio-ngexsta8e2j > div div {
    position: absolute;
    width: 25.12px;
    height: 122.46000000000001px;
    background: #df1317;
    left: 78.5px;
    top: 78.5px;
    transform: translate(-50%, -50%);
}

.ldio-ngexsta8e2j > div div:nth-child(1) {
    width: 91.06px;
    height: 91.06px;
    border-radius: 50%;
}

.ldio-ngexsta8e2j > div div:nth-child(6) {
    width: 72.22px;
    height: 72.22px;
    background: #f1f2f3;
    border-radius: 50%;
}

.ldio-ngexsta8e2j > div div:nth-child(3) {
    transform: translate(-50%, -50%) rotate(45deg)
}

.ldio-ngexsta8e2j > div div:nth-child(4) {
    transform: translate(-50%, -50%) rotate(90deg)
}

.ldio-ngexsta8e2j > div div:nth-child(5) {
    transform: translate(-50%, -50%) rotate(135deg)
}

.loadingio-spinner-gear-ggo4ke45pp6 {
    width: 157px;
    height: 157px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}

.ldio-ngexsta8e2j {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-ngexsta8e2j div {
    box-sizing: content-box;
}
